<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleProgram1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Workbench1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Workbench2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Workbench3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45276AD71A6DC770007DD24A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4560ED951A6D47C100AE7A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459E5D501A6CFB2000D4F391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459E5D5B1A6CFB2000D4F391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459E5D791A6CFB6E00D4F391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45EE375E1A6D06A400BD032A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F014EC1A6DC84C00B06889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
